<div class="custom_calculator">
<div class="buy_col"><span class="pricing_span">Pricing</span><span class="pricing_calc"> Calculator</span></div>

			<div id="rt_waiting" style="display: none;"><img src="https://vinylbannersprinting.co.uk/wp-content/uploads/2017/01/ajax_loader.gif" style="width: 120px;"></div>
									
		<form role="form" action="" method="post" id="add_cart" enctype="multipart/form-data">
			<div class="orderform" id="form1">						
			<div class="row">				    			
			
			<!-- <span id="price"/></span> -->
			<input type="hidden" id="eprice" value="11.36">
			<input type="hidden" id="hprice">						
			<input type="hidden" id="psqft" value="4">						
			<input type="hidden" id="efinal">
			<input type="hidden" id="qfinal">
			<input type="hidden" id="sqft_total">
			<input type="hidden" id="eyeletsT1">
			<input type="hidden" id="hammingT1">
			<input type="hidden" id="deliveryT1">
				<div class=" col col-sm-4">					
					<div class="form-group">
						<label class="control-label" for="size">Products</label><br>
						<div class="">
							<select onchange="getproductnamevbpukk()" id="rt_material" class="span2 form-control" name="rt_material[]">
							
							<option value="vinylbanner">Vinyl PVC Banners</option>
							<!-- <option value="meshbanner">Mesh PVC (350GSM)</option> -->
							<option value="stickers">Vinyl Sticker</option>
							
    <option value="roller_banner">Roller Banner Stands</option>
    <option value="x_stands">X-stands</option>
													
							</select>	
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-sm-4 custom_unit">					
					<div class="form-group">
						<label class="control-label" for="size">Unit</label><br>
						<div class="fancy_select">
							<select onchange="getproductnamevbpukk()" id="rt_unit" class="span2 form-control" name="rt_unit[]">
							<option value="foot">Feet</option>		
							<option value="inch">Inch</option>
							<option value="cm">CM</option>
							<option value="m">M</option>
							<option value="mm">MM</option>
														
							</select>
						</div>					
					</div>
				</div>
<div class="double_sided col col-sm-4">	
					
					<div class="form-group">
						<label class="deliveryq control-label" for="finishing">Two Sided:</label>	 <br>			
						<input type="hidden" id="defaultd">	
						<div class="fancy_select">
							<select onchange="getproductnamevbpukk()" id="double_sided" class="span2 form-control " name="rt_double_sided">
								<option value="" selected="">No</option>
								<option value="Yes">Yes</option>
							</select>
						</div>				
					</div>
				</div>
<div class="finishing col col-sm-4">
					<div class="form-group">
						<label class="deliveryq control-label" for="finishing">Finishing:</label>	 <br>			
						<input type="hidden" id="defaultd">	
						<div class="fancy_select">
							<select id="rt_finishing" class="span2 form-control " name="rt_finishing[]">
								<option value="Not Selected" selected=""> Select </option>
								<option value="4 Corners">Eyelets in 4 Corners</option>
								<option value="Every 50cm ">Eyelets Every 50cm </option>
								<option value="Straight Cut">Straight Cut(No Eyelets)</option>
								<option value="pole pockets width">Pole Pockets Width </option>
								<option value="pole pockets height">Pole Pockets Height </option>
							</select>
						</div>				
					</div>
				</div>
				
			</div>
			<div class="row sizing">
				<div class="col col-sm-4">	
					<div class="form-group">
						<label class="control-label" for="width">Width:</label><br>
						<input onkeyup="getproductnamevbpukk()" placeholder="0.00" type="text" name="rt_width" class="form-control" id="rt_width" value="2" required="">					
					</div>
				</div>
				
				<div class="inch_main1 col col-sm-2" style="opacity: 1;">					
					<div class="form-group">
						<label class="control-label" for="width">Inch</label> <br>	
						<input onkeyup="getproductnamevbpukk()" placeholder="Inch" type="text" name="rt_inch1" class="form-control" value="0" id="rt_inch1" style="cursor: default;">				
					</div>
				</div>
				
				<div class="height col col-sm-4">	
					<div class="form-group form-group-sm">
						<label class="control-label" for="height">Height:</label>	<br>				
						<input value="2" onkeyup="getproductnamevbpukk()" placeholder="0.00" type="text" name="rt_height" class="form-control" id="rt_height" required="">
						
					</div>
				</div>
				
				<div class="inch_main2 col col-sm-2" style="opacity: 1;">					
					<div class="form-group">
						<label class="control-label" for="width">Inch</label><br>	
						<input onkeyup="getproductnamevbpukk()" placeholder="Inch" type="text" name="rt_inch2" class="form-control" value="0" id="rt_inch2" style="cursor: default;">				
					</div>
				</div>
			</div>
			
					<div style="display:none;" class="sqft_oneway col col-sm-1">	
					<div class="form-group">
					<label class="control-label" for="sqft">SQFT</label><br>
					<input placeholder="0" type="text" name="sqft" class="form-control" id="sqft" readonly="">									
					</div>
				</div>			
				
				<div style="display:none;" class="sqft_oneway col col-sm-1">	
					<div class="form-group">
					<label class="control-label" for="sqft">SQFT</label><br>
					<input placeholder="0" type="text" name="sqfttotal" class="form-control" id="sqfttotal" readonly="">									
					</div>
				</div>
			
			<div class="row">
				<div class="qtyp1 col col-sm-3">	
					<div class="form-group">
						<label class="control-label" for="Quantity">Qty:</label><br>
						<input type="text" onkeyup="getproductnamevbpukk()" id="rt_qty" value="1" class="span2 form-control" name="rt_qty" required="">
					</div>
				</div>
				<div id="" class="custom_order_row col col-sm-4">
						<div id="order_total_heading_h2">Order Total</div>
				</div>
				<div class="custom_price_row col col-sm-4">
				<span class="pricetotal_oneway">$</span>
				<input placeholder="0.00" type="text" value="9.66" name="pricetotal_oneway" class="form-control" id="pricetotal_oneway" readonly="">
					<input style="display:none;" placeholder="0" type="text" name="price_per_banner" value="11.36" class="form-control" id="price_per_banner" readonly="">
					<input style="display:none;" placeholder="0" type="text" name="price" class="form-control" id="price" readonly="">
				</div>
			</div>
			<div class="row final_row">
			<div id="" class="col col-sm-6" style="padding-left:10px;padding-right:0px">
				<div class="free_heming" style="font-weight: 800;font-size: 14px;">FREE Design Service</div>
				
				</div>
				<div id="fancy_order_row" class="upper-cart-btn col col-sm-6" style="padding-left:10px;font-size: 16px;font-weight: 600;">
				<input type="submit" name="submit_prod" value="Add to cart" class="cc_btn btn-addcart" id="btn-addcart">
				</div>
			</div>
			
	</div>
		<div id="fancy_order_row" class="row">
				<div class="fancy_cart1 col-sm-6">
					<div id="total_cart_main">			
					<input onclick="popitup1('https://largebannerprinting.com/upload-artwork/', 'popitup1',485,600);" href="javascript:void(0);" type="button" name="submit_prod" value="I have artwork" class="cc_btn btn-artwork hidden-xs" id="btn-artwork">
				</div>
				</div>
				<div class="fancy_cart col-sm-6">					
					<div id="total_cart_main">			
					<input type="button" onclick="div_show()" name="submit_qoute" value="Email Quote" class="cc_btn btn-qoute" id="btn-qoute">
					</div>
					</div>
		</div>
		<div id="fancy_order_row" class="canvas row">
				<div class="fancy_cart1 col-sm-6">					
					<div id="total_cart_main">			
					<input type="button" onclick="set_product_canvas()" id="set_product" value="Design Online" class="cc_btn hidden-xs">
					</div>
				</div>
				<div class="fancy_cart col-sm-6">					
					<div id="total_cart_main">
					<a href="https://largebannerprinting.com/design-service/">
					<input type="button" name="need_design" value="I Need Design" class="cc_btn btn-addcart" id="btn-addcart"></a>
					</div>
					<p id="save_notify" style="display:none;">&nbsp;</p>
				</div>
		</div>		
	</form>
	</div>